/* Error: Undefined variable.
 *    ,
 * 90 | .c-haeder-wr  {top: 0;background-color: $base-color;} 
 *    |                                         ^^^^^^^^^^^
 *    '
 *   scss\respnosive.scss 90:41  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 90 \2502  .c-haeder-wr  {top: 0;background-color: $base-color;} \d\a    \2502                                          ^^^^^^^^^^^\a    \2575 \a   scss\\respnosive.scss 90:41  root stylesheet";
}
